<a href="https://colab.research.google.com/github/selvankumar-m/WebScraping/blob/main/WebScraping_YouTube_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working on Web-Scraped data of DataScience YouTube channels

---
* The data is scraped from web by using the web scraping software [Octoparse](https://www.octoparse.com/). 
* This data is collected on focus of youtube channels realted to Data Science.

In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('/content/YouTube-DataScience.xlsx')

In [3]:
data.head(3)

                                              Title  ...     Range5
0                          Data Science with Partha  ...  SUBSCRIBE
1  Division of Computing, Data Science, and Society  ...  SUBSCRIBE
2                ProjectPro - Data Science Projects  ...  SUBSCRIBE

[3 rows x 10 columns]

In [4]:
data.columns

Index(['Title', 'Title_URL', 'Image', 'Range', 'Range1', 'Range2', 'Range3',
       'Range4', 'Score_URL', 'Range5'],
      dtype='object')

In [5]:
# Drop the useless columns
data.drop(columns=['Title_URL', 'Image','Range2', 'Range3',
       'Range4', 'Score_URL', 'Range5'],axis=1,inplace=True)

In [6]:
data.head(3)

                                              Title  ...      Range1
0                          Data Science with Partha  ...   15 videos
1  Division of Computing, Data Science, and Society  ...   61 videos
2                ProjectPro - Data Science Projects  ...  164 videos

[3 rows x 3 columns]

In [7]:
#Name the columns with valied names
data.rename(columns={'Title':'Channel_Name','Range':'Subscribers_Count','Range1':'Video_Count'},inplace=True)

In [8]:
data.sample(3)

                        Channel_Name  Subscribers_Count Video_Count
144              Data Science Lovers  5.21K subscribers   56 videos
64   learn data science with krishna     37 subscribers    4 videos
120                 Data Science Guy  14.6K subscribers   30 videos

In [9]:
#finding null values
data.isnull().sum()

Channel_Name          0
Subscribers_Count    27
Video_Count           2
dtype: int64

In [10]:
#droping null values
data.dropna(inplace=True)

In [11]:
#Removing the words from Subscribers_Count & Video_Count
data['Subscribers_Count']=data['Subscribers_Count'].str.strip('subscribers')
data['Video_Count']=data['Video_Count'].str.strip('videos')

In [12]:
data.head()

                         Channel_Name Subscribers_Count Video_Count
0            Data Science with Partha               48          15
2  ProjectPro - Data Science Projects              400         164
3     DATA SCIENCE SUMMIT EUROPE 2016              185          48
4                      Datascience SS               10           3
5      Introduction to Data Analytics            14.4K          51

In [13]:
data.dtypes

Channel_Name         object
Subscribers_Count    object
Video_Count          object
dtype: object

In [14]:
# Changing the symbols into numbers('K' is changed into 1000, and 'M' is changed into 1000000)
data['Subscribers_Count']=data['Subscribers_Count'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype('int')

In [15]:
data.sample(10)

                    Channel_Name  Subscribers_Count Video_Count
132                   codebasics             309000        396
87              IIR Data Science                 45          5
77    Level Up Your Data Science                 12         12
189             Data Analytics.m                394         21
43   Connor McAnuff Data Science                 34          2
80       Simplified Data Science                 68          2
165         Data Science Wizards                 95         22
7        Data Science After Dark                 19          7
205                Jeremy Howard              53700        106
95   Data Science with Dr. Wasim                 66        121

In [16]:
#filtering the top 15 channels based on Subscribers_Count
data.nlargest(15,['Subscribers_Count'])

                    Channel_Name  Subscribers_Count Video_Count
210                     edureka!            2640000      4,257
213                  Simplilearn            1070000      2,696
209                    Joma Tech            1040000         86
208                  Intellipaat             971000      2,062
202                  Siraj Raval             712000        429
12   StatQuest with Josh Starmer             491000        199
111               Great Learning             391000      1,298
49                    Krish Naik             366000      1,030
132                   codebasics             309000        396
147             365 Data Science             180000        190
13                   Data School             173000        100
14                Data Professor              67900        201
207                   Tina Huang              62500         99
8           Art of Visualization              58000        253
205                Jeremy Howard              53700        106

In [17]:
#Views count is taken manually for the top 15 channels
views=[215934700,73779851,66827579,47898953,43287178,23873798,25579703,18546773,6774429,8493662,15431915,1411233,1996874,3687810,5683371]

In [18]:
#Taking Top15 YouTube channels data into a DataFrame
data_top15=data.copy()
data_top15=data_top15.nlargest(15,['Subscribers_Count'])

In [19]:
#Inserting the Views Count of channels to the Top15 data
data_top15['Views_Count']=views
data_top15

                    Channel_Name  Subscribers_Count Video_Count  Views_Count
210                     edureka!            2640000      4,257     215934700
213                  Simplilearn            1070000      2,696      73779851
209                    Joma Tech            1040000         86      66827579
208                  Intellipaat             971000      2,062      47898953
202                  Siraj Raval             712000        429      43287178
12   StatQuest with Josh Starmer             491000        199      23873798
111               Great Learning             391000      1,298      25579703
49                    Krish Naik             366000      1,030      18546773
132                   codebasics             309000        396       6774429
147             365 Data Science             180000        190       8493662
13                   Data School             173000        100      15431915
14                Data Professor              67900        201       1411233
207                   Tina Huang              62500         99       1996874
8           Art of Visualization              58000        253       3687810
205                Jeremy Howard              53700        106       5683371

In [20]:
#Getting the Top15_data to local system
data_top15.to_excel('YouTube_Top15.xlsx')

In [21]:
#Getting the Total data to local system
data.to_excel('YouTube-Data.xlsx')

[Tableau Public](https://public.tableau.com/app/profile/selvan.kumar.m/viz/Top10YoutubeChannelsforDataScience/Sheet1) link for the vizz of Top-10 YouTube channels for Data Science